extends ../layout
block content
   .container
      .row
         table.table.table-hover.table-bordered
            thead
               tr
                  th _id
                  th name
                  th password
                  th create
                  th update
            tbody
               each item in users
                  tr(class="item-id-#{item._id}")
                     td #{item._id}
                     td #{item.name}
                     td #{item.password}
                     td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
                     td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}